<%= link_to 'Edit Question', edit_question_path %>
<h2><%= @question.question %></h2>
<p>A. <%= @question.option_1 %></p>
<p>B. <%= @question.option_2 %></p>
<p>C. <%= @question.option_3 %></p>
<p>D. <%= @question.option_4 %></p>
