<h1><%= @holiday.title %></h1>
<div id="holiday-show-photo">
  <%= image_tag(@holiday.photo)%>
</div>
<h3>Date: <%= @holiday.date %></h3>
<h3>
  <div id="quote">Biblical Quote: "<%= @holiday.bible_quote %>"</div>
</h3>
<h5>Biblical Source: <%= @holiday.bible_src %></h5>

<h3>Plot</h3>
  <p>
    <%= @holiday.plot %>
  </p>

<h3>Customs</h3>
  <p>
    <%= @holiday.customs %>
  </p>
