<h1>{{title}}</h1>
<div id="holiday-show-photo">
  <img src="{{photo}}">
</div>
<h3>Date: {{date}}</h3>
<h3>
  <div id="quote">Biblical Quote: "{{bible_quote}}"</div>
</h3>
<h5>Biblical Source: {{bible_src}}</h5>

<h3>Plot</h3>
  <p>{{plot}}</p>

<h3>Customs</h3>
  <p>{{customs}}</p>
<button name="test">{{title}} Test</button>
