<div class="holiday">
<% if can? :create, @category %>
  <div id="new-category">
    <%= link_to 'New Category', new_category_path(@category) %>
  </div>
<% end %>
  <% @categories.each do |category| %>
  <div id="<%= category.id %>" class='category'>
    <div class="category-title"><%= category.title %></div>
    <div id="category-index-photo">
      <% if category.photo == "kosher.jpg" %>
        <%= link_to(image_tag("kosher.jpg"), kosher_path) %>
      <% else %>
        <%= link_to(image_tag(category.photo), category_path(category)) %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
