<div id="kosher-body">
  <div id="kosher-description">
    <h1>What is Kosher?</h1>
    <p>{{kosher_description}}</p>
  </div>
  <div id="kosher-animals">
    <h1>What type of Animals are Kosher?</h1>
    <h2>{{animal_quote}}</h2>
    <h3>{{animal_src}}</h3>
    <p>{{animal_description}}</p>
  </div>
  <div id="kosher-fish">
    <h1>What type of Fish are Kosher?</h1>
    <h2>{{fish_quote}}</h2>
    <h3>{{fish_src}}</h3>
    <p>{{fish_description}}</p>
  </div>
  <div id="kosher-bird">
    <h1>What type of Birds are Kosher?</h1>
    <h2>{{bird_quote}}</h2>
    <h3>{{bird_src}}</h3>
    <p>{{bird_description}}</p>
  </div>
  <div id="remaining_creatures">
    <h1>Remaining Animals Kosher?</h1>
    <p>{{remaining_creatures}}</p>
  </div>
  <div id="slaughter">
    <h1>How to Slaughter and make a Kosher animal Kosher to Eat?</h1>
    <p>{{slaughter}}</p>
  </div>
  <div id="utensils">
    <h1>Kosher Utensils</h1>
    <p>{{utensils}}</p>
  </div>
  <div id="milk-and-meat">
    <h1>Seperation Between Milk and Meat</h1>
    <p>{{milk_and_meat}}</p>
  </div>
  <div id="kosher-certifications">
    <h1>Kosher Certifications</h1>
    <p>{{kosher_certifications}}</p>
    <li class="kosher-symbols"><img src="{{ortho_union}}"></li>
    <li class="kosher-symbols"><img src="{{organized_kosher}}"></li>
    <li class="kosher-symbols"><img src="{{star_k}}"></li>
    <li class="kosher-symbols"><img src="{{kof_kosher}}"></li>
  </div>
  <button name="test">Kosher Test</button>
</div>
