<%= link_to "Edit", edit_test_path%>
<h1><%= @test.title %></h1>
<% @test.questions.each do |question| %>
  <h2><%= question.question %></h2>
  <%= select_tag("questions[#{question.id}]", question.answers_string.html_safe) %>
<% end %>
  <%= button_tag "Submit Test" %>
